:root {
  /* Colors */
  --cl-sky-blue: #66e2dc;
  --cl-outrageous-orange: #fa7453;
  --cl-rajah: #ffb964;
  --cl-snow: #fcfaf9;
  --cl-eerie-black: #191826;
  /* Typography */
  --IBM-bold: 700;
  --IBM-regular: 400;
  --h1-size: 5.5rem;
  --h1-line: 5.5rem;
  --h1-spacing: -0.0625rem;
  --h2-size: 2.5rem;
  --h2-line: 3.25rem;
  --body1-size: 1.25rem;
  --body1-line: 2.125rem;
  --body2-size: 1rem;
  --body2-line: 1.625rem;
}

/* Reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "IBM Plex Sans", sans-serif;
}
a,
img {
  display: block;
}

/* Mobile styles */
body {
  background-color: var(--cl-snow);
  background-image: url("./assets/imgs/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: 0px -249px;
}
.container {
  min-width: calc((320 / 16) * 1rem);
  max-width: calc((375 / 16) * 1rem);
  margin-top: calc((40 / 16) * 1rem);
  margin-bottom: calc((80 / 16) * 1rem);
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-left: calc((24 / 16) * 1rem);
}
.header-pattern {
  display: none;
}

main {
  margin-top: calc((64 / 16) * 1rem);
  margin-bottom: calc((390 / 16) * 1rem);
}
.section-info {
  padding: 0 calc((24 / 16) * 1rem);
}
.section-info h1 {
  margin: 0;
  color: var(--cl-eerie-black);
  font-size: var(--h2-size);
  font-weight: var(--IBM-bold);
  line-height: calc((48 / 16) * 1rem);
  letter-spacing: calc((-0.455 / 16) * 1rem);
}
.section-info p {
  margin-top: calc((20 / 16) * 1rem);
  color: var(--cl-eerie-black);
  font-size: var(--body2-size);
  font-weight: var(--IBM-regular);
  line-height: var(--body2-line);
}

.section-premium {
  margin-top: calc((166 / 16) * 1rem);
  min-width: 100%;
  max-height: calc((600 / 16) * 1rem);
  background-color: var(--cl-eerie-black);
  border-radius: 12px;
  background-image: url("./assets/icons/bg-pattern-2.svg");
  background-repeat: no-repeat;
  background-size: calc((280 / 16) * 1rem) calc((420 / 16) * 1rem);
  background-position: top center;
}
.section-premium > img {
  width: calc((208 / 16) * 1rem);
  margin: 0 auto;
  position: relative;
  top: -98px;
}
.section-premium div {
  background-color: var(--cl-outrageous-orange);
  border-radius: 12px;
  padding: calc((48 / 16) * 1rem) 36px;
  position: relative;
  top: -46px;
}
.section-premium h2 {
  color: var(--cl-snow);
  font-size: calc((32 / 16) * 1rem);
  font-weight: var(--IBM-bold);
  line-height: calc((40 / 16) * 1rem);
}
.section-premium p {
  margin-top: calc((12 / 16) * 1rem);
  color: var(--cl-snow);
  font-size: calc((18 / 16) * 1rem);
  font-weight: var(--IBM-regular);
  line-height: calc((28 / 16) * 1rem);
}
.section-premium p:nth-child(3) {
  margin-top: calc((45 / 16) * 1rem);
  margin-bottom: calc((43 / 16) * 1rem);
  display: flex;
  gap: calc((16 / 16) * 1rem);
  max-height: calc((52 / 16) * 1rem);
  font-size: var(--body1-size);
  line-height: var((32 / 16) * 1rem);
  letter-spacing: calc((-0.2 / 16) * 1rem);
}
.section-premium span {
  font-size: calc((65 / 16) * 1rem);
  font-weight: var(--IBM-bold);
  line-height: var(--body2-line);
}
.section-premium__ios,
.section-premium__android {
  height: calc((61 / 16) * 1rem);
  border-radius: 12px;
  font-size: calc((18 / 16) * 1rem);
  font-weight: var(--IBM-bold);
  line-height: calc((32 / 16) * 1rem);
  letter-spacing: calc((-0.18 / 16) * 1rem);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc((8 / 16) * 1rem);
}
.section-premium__ios img,
.section-premium__android img {
  width: calc((17 / 16) * 1rem);
}
.section-premium__ios {
  background-color: var(--cl-eerie-black);
  color: var(--cl-snow);
  margin-bottom: calc((16 / 16) * 1rem);
}
.section-premium__ios:hover {
  background-color: var(--cl-sky-blue);
}
.section-premium__android {
  background-color: var(--cl-snow);
  color: var(--cl-eerie-black);
}
.section-premium__android:hover {
  background-color: var(--cl-rajah);
}

footer {
  padding: 0 calc((24 / 16) * 1rem);
}
.footer-copyright {
  margin-top: calc((32 / 16) * 1rem);
  margin-bottom: calc((64 / 16) * 1rem);
  color: var(--cl-eerie-black);
  font-size: var(--body2-size);
  font-weight: var(--IBM-regular);
  line-height: var(--body2-line);
}
.footer-copyright span {
  font-weight: var(--IBM-bold);
}
.footer-social {
  max-width: calc((100 / 16) * 1rem);
  display: flex;
  justify-content: space-between;
}
.footer-social img:hover {
  filter: invert(61%) sepia(21%) saturate(4549%) hue-rotate(326deg)
    brightness(101%) contrast(97%);
}

/* Tablet styles*/

@media (min-width: 426px) {
  body {
    background-image: url("./assets/imgs/bg-main-tablet.png");
    background-size: auto;
    background-position: -414px -259px;
  }
  .container {
    max-width: calc((425 / 16) * 1rem);
    margin-top: calc((62 / 16) * 1rem);
    margin-bottom: calc((85 / 16) * 1rem);
  }

  header {
    padding-left: 0;
    position: relative;
  }

  main {
    margin-top: calc((95 / 16) * 1rem);
    margin-bottom: calc((363 / 16) * 1rem);
  }
  .section-info {
    padding: 0;
  }
  .section-info h1 {
    max-width: calc((520 / 16) * 1rem);
    font-size: calc((64 / 16) * 1rem);
    line-height: calc((64 / 16) * 1rem);
    letter-spacing: calc((-0.727 / 16) * 1rem);
  }
  .section-info p {
    max-width: calc((514 / 16) * 1rem);
    margin-top: calc((28 / 16) * 1rem);
    font-size: calc((18 / 16) * 1rem);
    line-height: calc((28 / 16) * 1rem);
  }

  .section-premium {
    margin-top: calc((249 / 16) * 1rem);
    min-height: calc((600 / 16) * 1rem);
    background-position: 52% -20%;
  }
  .section-premium > img {
    width: calc((270 / 16) * 1rem);
    margin: 0;
    top: -138px;
    left: 64px;
  }
  .section-premium div {
    min-width: calc((375 / 16) * 1rem);
    top: -198px;
  }

  footer {
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: calc((32 / 16) * 1rem);
    justify-content: space-between;
    align-items: center;
  }
  footer > img {
    grid-column: 1 /3;
  }
  .footer-copyright {
    margin: 0;
    max-width: calc((366 / 16) * 1rem);
  }
  .footer-social {
    width: calc((100 / 16) * 1rem);
    max-height: calc((20 / 16) * 1rem);
  }
}

@media (min-width: 715px) {
  .container {
    max-width: calc((696 / 16) * 1rem);
  }
  .header-pattern {
    display: block;
    width: calc((267 / 16) * 1rem);
    height: calc((400 / 16 * 1rem));
    position: absolute;
    right: -72px;
    top: -94px;
  }

  main {
    margin-bottom: calc((183 / 16) * 1rem);
  }

  .section-premium {
    margin-top: calc((249 / 16) * 1rem);
    min-height: calc((600 / 16) * 1rem);
    background-position: 52% -20%;
    position: relative;
  }
  .section-premium div {
    max-width: calc((399 / 16) * 1rem);
    position: absolute;
    top: 150px;
    left: 239px;
  }
}

/* Desktop styles */
@media (min-width: 1120px) {
  body {
    background-image: url("./assets/imgs/bg-main-desktop.png");
    background-position: 65% 125%;
  }
  .container {
    max-width: calc((1100 / 16) * 1rem);
    margin-bottom: calc((91 / 16) * 1rem);
  }
  .header-pattern {
    width: calc((312 / 16) * 1rem);
    height: calc((468 / 16 * 1rem));
    right: -162px;
    top: -94px;
  }

  main {
    margin-top: calc((127 / 16) * 1rem);
    margin-bottom: calc((202 / 16) * 1rem);
  }

  .section-info h1 {
    max-width: calc((1015 / 16) * 1rem);
    font-size: var(--h1-size);
    line-height: var(--h1-line);
    letter-spacing: var(--h1-spacing);
  }
  .section-info p {
    max-width: calc((825 / 16) * 1rem);
    margin-top: calc((40 / 16) * 1rem);
    font-size: var(--body1-size);
    line-height: var(--body1-line);
  }

  .section-premium {
    margin-top: calc((321 / 16) * 1rem);
    background-size: calc((312 / 16) * 1rem) calc((468 / 16) * 1rem);
    background-position: 42.5% -35%;
  }
  .section-premium > img {
    width: calc((312 / 16) * 1rem);
    top: -213px;
    left: 102px;
  }
  .section-premium div {
    max-width: calc((446 / 16) * 1rem);
    padding-top: calc((58 / 16) * 1rem);
    padding-bottom: calc((48 / 16) * 1rem);
    padding-right: 59px;
    padding-left: 54px;
    top: 90px;
    left: 569px;
  }
  .section-premium h2 {
    font-size: var(--h2-size);
    line-height: var(--h2-size);
  }
  .section-premium p {
    margin-top: calc((25 / 16) * 1rem);
    font-size: var(--body1-size);
    line-height: var(--body1-line);
  }
  .section-premium p:nth-child(3) {
    margin-top: calc((48 / 16) * 1rem);
    margin-bottom: calc((57 / 16) * 1rem);
  }
  .section-premium span {
    line-height: var(--body1-line);
  }

  footer {
    grid-template-columns: auto auto auto;
    justify-content: start;
  }
  footer > img {
    grid-column: auto;
    margin-right: calc((138 / 16) * 1rem);
    align-self: start;
  }
  .footer-copyright {
    margin-right: calc((359 / 16) * 1rem);
  }
}
